<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Jason's About Page</title>
    </head>
    <body>
        <p>Full Name: Jason Welsh<br>
            Student ID: MXXXXXX<br>
            Bio: Hello, my name is Jason Welsh and I am currently a Senior at the University of Cincinnati. I will be graduating with a bachelors in Software Development<br>
            and in Cyber Security.<br>
            Contact Details: <br>
            Phone Number: XXXXXXXX<br>
            Email: billjoe@gmail.com
        </p>
    </body>
</html>